<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
	<pages>
	  <tagMapping>
		<add tagType="System.Web.UI.WebControls.TextBox" mappedTagType="Havit.Web.UI.WebControls.TextBoxExt, Havit.Web" />
		<add tagType="System.Web.UI.WebControls.CompareValidator" mappedTagType="Havit.Web.Bootstrap.UI.WebControls.CompareValidator" />
		<add tagType="System.Web.UI.WebControls.CustomValidator" mappedTagType="Havit.Web.Bootstrap.UI.WebControls.CustomValidator" />
		<add tagType="System.Web.UI.WebControls.RangeValidator" mappedTagType="Havit.Web.Bootstrap.UI.WebControls.RangeValidator" />
		<add tagType="System.Web.UI.WebControls.RegularExpressionValidator" mappedTagType="Havit.Web.Bootstrap.UI.WebControls.RegularExpressionValidator" />
		<add tagType="System.Web.UI.WebControls.RequiredFieldValidator" mappedTagType="Havit.Web.Bootstrap.UI.WebControls.RequiredFieldValidator" />
		<add tagType="System.Web.UI.WebControls.ValidationSummary" mappedTagType="Havit.Web.Bootstrap.UI.WebControls.ValidationSummary" />
	  <add tagType="System.Web.UI.WebControls.Button" mappedTagType="Havit.Web.Bootstrap.UI.WebControls.Button" /></tagMapping>
	  <controls>
		<add tagPrefix="havit" namespace="Havit.Web.UI.WebControls" assembly="Havit.Web" />
		<add tagPrefix="havit" namespace="Havit.Web.UI.WebControls.ControlsValues" assembly="Havit.Web" />
		<add tagPrefix="havit" namespace="Havit.Web.UI.HtmlControls" assembly="Havit.Web" />
		<add tagPrefix="havit" namespace="Havit.Web.UI.Scriptlets" assembly="Havit.Web" />
		<add tagPrefix="uc" namespace="Havit.Web.Bootstrap.Tutorial.Section.Samples" assembly="Havit.Web.Bootstrap.Tutorial" />
	  <add tagPrefix="bc" namespace="Havit.Web.Bootstrap.UI.WebControls" assembly="Havit.Web.Bootstrap" /></controls>
	</pages>
	<compilation debug="true" defaultLanguage="C#" targetFramework="4.5">
	  <expressionBuilders>
		<add expressionPrefix="Expression" type="Havit.Web.Compilation.CodeExpressionBuilder, Havit.Web" />
	  </expressionBuilders>
	</compilation>
	<httpRuntime targetFramework="4.5" />

	<customErrors mode="RemoteOnly" redirectMode="ResponseRedirect" defaultRedirect="~/Error.aspx" />
	<webServices>
	  <soapExtensionTypes>
		<add type="Havit.Web.Services.Extensions.SoapExceptionHealthMonitoringHandler, Havit.Web" priority="0" group="High" />
	  </soapExtensionTypes>
	</webServices>
	<healthMonitoring enabled="false" />
  </system.web>

  <system.net>
	<mailSettings>
	  <smtp configSource="Config\mailSettings-smtp.config" />
	</mailSettings>
  </system.net>

  <location path="Error.aspx">
	<system.web>
	  <authorization>
		<allow users="*" />
	  </authorization>
	</system.web>
  </location>
</configuration>