.asmMenu 
{
	position: absolute;
	overflow-y: auto;
	z-index: 5;
	
	border: 1px solid black;
	background: #ffffff;
	padding: 5;
	white-space: nowrap;
}
.asmMenuItem, .asmSelMenuItem
{			
	color: black;
	background: #ffffff;
	cursor: hand;
	cursor: pointer;
	padding: 0 2px;
	border: solid 1px white;
	
	font-size: 9pt;
	font-family: "Arial CE", Arial, Sans-Serif;
}
.asmSelMenuItem
{			
	color: White;
	background-color: #0A246A;
	white-space: nowrap;
	border: dotted 1px #F5DB95;
}
A:link.asmNavigationLink, A:active.asmNavigationLink, A:visited.asmNavigationLink, A:hover.asmNavigationLink
{
	color: blue;
	font-size: 9pt;
	margin:0px;
	text-decoration: none;
}