<healthMonitoring enabled="true">
	<rules>
		<add name="Mail Notifications on All Errors" eventName="All Errors" provider="SimpleMailWebEventProvider" profile="Default" />
	</rules>
	<providers>
		<add name="SimpleMailWebEventProvider"
			type="System.Web.Management.SimpleMailWebEventProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"
			from="errors@havit.cz"
			to="errors@havit.cz"
			subjectPrefix="HAVIT .NET Framework TEST: "
			buffer="true"
			bufferMode="Notification"
			maxEventLength="65536"
			maxMessagesPerNotification="2"
				/>
	</providers>
</healthMonitoring>