<healthMonitoring enabled="true">
	<rules>
		<add name="Havit All Errors Default" eventName="Havit All Errors" provider="SmtpWebEventProvider" profile="Default"/>
	</rules>
	<providers>
		<add name="SmtpWebEventProvider"
		  type="Havit.Web.Management.SmtpWebEventProvider, Havit.Web"
		  from="kanda@havit.cz"
		  to="kanda@havit.cz"
		  cc="jiri@kanda.eu"
		  bcc="devmail@havit.cz"
		  smtpServer="mx.havit.cz"
		  subjectPrefix="HAVIT FRAMEWORK TEST"/>
	</providers>
	<eventMappings>
		<add name="Havit All Errors" type="Havit.Web.Management.WebRequestErrorEventExt, Havit.Web" />
	</eventMappings>
</healthMonitoring>
