<?xml version="1.0"?>
<configuration>

	<connectionStrings>
		<add name="DefaultConnectionString" connectionString="Data Source=sqldev.havit.local;Initial Catalog=HavitTest;User Id=development;Password=development;Application Name=HavitTest"/>
	</connectionStrings>
	
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup><system.serviceModel>
  <bindings>
   <basicHttpBinding>
    <binding name="WebServiceExceptionTestSoap"/>
   </basicHttpBinding>
  </bindings>
  <client>
   <endpoint address="http://localhost:1076/SystemWebTests/WebServiceExceptionTest.asmx" binding="basicHttpBinding" bindingConfiguration="WebServiceExceptionTestSoap" contract="ServiceReference1.WebServiceExceptionTestSoap" name="WebServiceExceptionTestSoap"/>
  </client>
 </system.serviceModel>
</configuration>
