<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <pages>
      <controls>
        <add tagPrefix="bc" namespace="Havit.Web.Bootstrap.UI.WebControls" assembly="Havit.Web" />
      </controls>
      <tagMapping>
        <add tagType="System.Web.UI.WebControls.CompareValidator" mappedTagType="Havit.Web.Bootstrap.UI.WebControls.CompareValidator" />
        <add tagType="System.Web.UI.WebControls.CustomValidator" mappedTagType="Havit.Web.Bootstrap.UI.WebControls.CustomValidator" />
        <add tagType="System.Web.UI.WebControls.RangeValidator" mappedTagType="Havit.Web.Bootstrap.UI.WebControls.RangeValidator" />
        <add tagType="System.Web.UI.WebControls.RegularExpressionValidator" mappedTagType="Havit.Web.Bootstrap.UI.WebControls.RegularExpressionValidator" />
        <add tagType="System.Web.UI.WebControls.RequiredFieldValidator" mappedTagType="Havit.Web.Bootstrap.UI.WebControls.RequiredFieldValidator" />
        <add tagType="Havit.Web.UI.WebControls.CheckBoxValidator" mappedTagType="Havit.Web.Bootstrap.UI.WebControls.Legacy.CheckBoxValidator" />
        <add tagType="Havit.Web.UI.WebControls.NumericBoxValidator" mappedTagType="Havit.Web.Bootstrap.UI.WebControls.Legacy.NumericBoxValidator" />
        <add tagType="System.Web.UI.WebControls.ValidationSummary" mappedTagType="Havit.Web.Bootstrap.UI.WebControls.ValidationSummary" />
        <add tagType="System.Web.UI.WebControls.Button" mappedTagType="Havit.Web.Bootstrap.UI.WebControls.Button" />
      </tagMapping>
    </pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="ADB9793829DDAE60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.11.0" newVersion="3.1.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>