<?xml version="1.0"?>
<configuration>
	<system.diagnostics>
		<sources>
			<source name="Exceptions" switchValue="Error">
				<listeners>
					<add name="XmlListener" initializeData="Exceptions.xml" type="System.Diagnostics.XmlWriterTraceListener"/>
					<add name="TextWriterListener" initializeData="Exceptions.log" type="System.Diagnostics.TextWriterTraceListener"/>
					<add name="SmtpListener" initializeData="Subject=SmtpTraceListener Test;To=kanda@havit.cz;SmtpServer=havit-cz.mail.protection.outlook.com" type="Havit.Diagnostics.SmtpTraceListener, Havit"/>
				</listeners>
			</source>
		</sources>
	</system.diagnostics>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network" from="devmail@havit.cz">
				<network host="mail.havit.local"/>
			</smtp>
		</mailSettings>
	</system.net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
