<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.1.3" targetFramework="net452" />
  <package id="EntityFramework.MappingAPI" version="6.1.0.9" targetFramework="net46" />
  <package id="Havit" version="1.4.1739" targetFramework="net46" />
  <package id="Havit.Data.Entity6" version="1.4.6887" targetFramework="net46" />
  <package id="Havit.Data.Entity6.Patterns" version="1.4.7133" targetFramework="net46" />
  <package id="Havit.Data.Patterns" version="1.4.7133" targetFramework="net46" />
  <package id="Havit.Model" version="1.4.6887" targetFramework="net46" />
  <package id="Havit.Services" version="1.4.6224" targetFramework="net46" />
</packages>