.autocomplete-textbox {
    position: relative;
    display: inline-block;
}

    .autocomplete-textbox input[type=text]::-ms-clear,
    .autocomplete-textbox input[type=text]::-ms-reveal {
        display: none;
        width: 0;
        height: 0;
    }

    .autocomplete-textbox a[data-cleartext] {
        position: absolute;
        right: 5px;
        text-decoration:none;
    }