<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
	<section name="glimpse" type="Glimpse.Core.Configuration.Section, Glimpse.Core" />
  </configSections>

  <connectionStrings>
	<add name="DefaultConnectionString" connectionString="Data Source=sqldev.havit.local;Initial Catalog=HavitTest;User Id=development;Password=development;" />
  </connectionStrings>
  <system.web>
	<healthMonitoring configSource="Config\healthMonitoring.config" />
	<compilation debug="true" targetFramework="4.5">
	  <assemblies>
		<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
		<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
		<add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
		<add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
		<add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
		<add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
		<add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
		<add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
		<add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
		<add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
		<add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
		<add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
		<add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
		<add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
	  </assemblies>
		<expressionBuilders>
		  <add expressionPrefix="Expression" type="Havit.Web.Compilation.CodeExpressionBuilder, Havit.Web" />
		</expressionBuilders>
	  </compilation>
	  <pages>
		<controls>
		  <add tagPrefix="havit" namespace="Havit.Web.UI.WebControls" assembly="Havit.Web" />
		  <add tagPrefix="havit" namespace="Havit.Web.UI.WebControls.ControlsValues" assembly="Havit.Web" />
		  <add tagPrefix="havit" namespace="Havit.Web.UI.WebControls" assembly="Havit.Enterprise.Web" />
		  <add tagPrefix="havit" namespace="Havit.Web.UI.HtmlControls" assembly="Havit.Web" />
		  <add tagPrefix="havit" namespace="Havit.Web.UI.Scriptlets" assembly="Havit.Web" />
		  <add tagPrefix="bc" namespace="Havit.Web.Bootstrap.UI.WebControls" assembly="Havit.Web.Bootstrap" />
		</controls>
		<tagMapping>
		  <add tagType="System.Web.UI.UpdatePanel" mappedTagType="Havit.Web.UI.UpdatePanelExt, Havit.Web" />
		  <add tagType="System.Web.UI.WebControls.TextBox" mappedTagType="Havit.Web.UI.WebControls.TextBoxExt, Havit.Web" />
		</tagMapping>
	  </pages>
	  <customErrors mode="Off" />
	  <globalization uiCulture="sk-SK" culture="sk-SK" />
	  <trace enabled="true" mostRecent="true" requestLimit="50" pageOutput="false" />
	  <authentication mode="Forms">
		<forms loginUrl="~/Login.aspx" name="LachnitPohledavky.KlientskyPortal.ASPXAUTH" slidingExpiration="true" timeout="90" />
	  </authentication>
	  <httpRuntime targetFramework="4.5" />
	  <siteMap defaultProvider="WebSiteMapProvider" enabled="true">
		  <providers>
			  <clear/>
			  <add name="WebSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Web.sitemap" securityTrimmingEnabled="true"/>
		  </providers>
	  </siteMap>
	  <webServices>
		<soapExtensionTypes>
		  <add type="Havit.Web.Services.Extensions.SoapExceptionHealthMonitoringHandler, Havit.Web" priority="0" group="High" />
		</soapExtensionTypes>
	  </webServices>

	  <httpModules>
		<add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" />
	  </httpModules>
	  <httpHandlers>
		<add path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" />
	  </httpHandlers>
	</system.web>
  <system.net>
	<mailSettings>
	  <smtp configSource="Config\mailSettings-smtp.config" />
	</mailSettings>
  </system.net>
  <system.diagnostics>
	<sources>
	  <source name="DbConnector Command Execution Trace">
		<listeners>
		  <add name="DbConnectorTraceListener" type="Havit.Data.Glimpse.DbConnectorTraceListener, Havit.Data.Glimpse" />
		</listeners>
	  </source>
	  <source name="Exceptions" switchValue="Error">
		<listeners>
		  <add name="SmtpListener" initializeData="Subject=SmtpTraceListener Test;To=kanda@havit.cz" type="Havit.Diagnostics.SmtpTraceListener, Havit" />
		</listeners>
	  </source>
	</sources>
  </system.diagnostics>

  <system.webServer>
	<directoryBrowse enabled="true" />
  </system.webServer>

  <glimpse defaultRuntimePolicy="On" endpointBaseUri="~/Glimpse.axd" />
  <system.webServer>
	<validation validateIntegratedModeConfiguration="false" />
	<modules>
	  <add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" preCondition="integratedMode" />
	</modules>
	<handlers>
	  <add name="Glimpse" path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" preCondition="integratedMode" />
	</handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>