<?xml version="1.0"?>

<configuration>

	<appSettings/>
	
	<connectionStrings>
		<add name="DefaultConnectionString" connectionString="Data Source=oskar;Initial Catalog=HavitTest;User Id=development;Password=development;"/>
	</connectionStrings>

	<system.web>
		<compilation debug="true">
			<expressionBuilders>
				<add expressionPrefix="Expression" type="Havit.Web.Compilation.CodeExpressionBuilder, Havit.Web"/>
			</expressionBuilders>
		</compilation>
		<pages>
			<controls>
				<add tagPrefix="havit" namespace="Havit.Web.UI.WebControls" assembly="Havit.Web"/>
				<add tagPrefix="havit" namespace="Havit.Web.UI.WebControls" assembly="Havit.Enterprise.Web"/>
				<add tagPrefix="havit" namespace="Havit.Web.UI.HtmlControls" assembly="Havit.Web"/>
				<add tagPrefix="havit" namespace="Havit.Web.UI.Scriptlets" assembly="Havit.Web"/>
			</controls>
		</pages>
		<authentication mode="Windows" />
	</system.web>
</configuration>
